html {
    background-color: whitesmoke;
}

@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
}

a {
  background-image: none;
}

a:link {
  text-decoration: none;
  box-shadow: 0em;
  text-shadow: none;
}
  
a:visited {
  text-decoration: none;
}