@import './markdown.css';

html {
  --primary-background-color: whitesmoke;
  --primary-text-color: black;
  --highlight-color: #b600ff;
  --logo-background-color: black;
  --logo-text-color: whitesmoke;
  --border-color: lightgray;
}

html.dark {
  --primary-background-color: #0e141b;
  --primary-text-color: lightgray;
  --highlight-color: #b600ff;
  --logo-background-color: whitesmoke;
  --logo-text-color: black;
  --border-color: #2e2e2e;
}

body {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
}

h1 {
  color: var(--primary-text-color);
}

h2 {
  color: var(--primary-text-color);
}

h3 {
  color: var(--primary-text-color);
}

h4 {
  color: var(--primary-text-color);
}

h5 {
  color: var(--primary-text-color);
}

h6 {
  color: var(--primary-text-color);
}

@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
}

a {
  background-image: none;
  color: var(--highlight-color);
}

a:link {
  text-decoration: none;
  box-shadow: 0em;
  text-shadow: none;
}
  
a:visited {
  text-decoration: none;
}