html {
    background-color: whitesmoke;
}

a:link {
  text-decoration: none;
  box-shadow: 0em;
  text-shadow: none;
}
  
a:visited {
  text-decoration: none;
}
  
a:hover {
  text-decoration: none;
}
  
a:active {
  text-decoration: none;
}