.circle { 
    width: 20px;
    height: 20px;
    background: blue; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    line-height: 1.1;
    align-self: center;
    margin: 1rem 0rem 1rem 1rem;

    padding-left: 1rem;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid;
    border-color: lightgray;
    padding: 0px 20px 5px 20px;
    box-shadow: 3px 5px lightgray;
    transition: all .1s ease;

}

.container:hover {
    transform: scale(1.1);
}

.title {
    margin:1rem 1rem 1rem 0rem;
}